<ul id="messages">
        {{#each chats}}
            <li>{{this.dataValues.body}}</li>
        {{/each}}

</ul>
<form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="/assets/viewPartyScript.js"></script>